<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/index.css" />
    <title>Photo Server</title>
  </head>
  <body>
    <div class="content">
      <h1>📸 Photo Server</h1>
      <p>Go checkout a photo album!</p>
      {{ALBUMS}}
    </div>

    <div class="footer">
      Connor Slade · 2021 ·
      <a href="https://github.com/Basicprogrammer10/Photo-Server/">
        <i class="cat fa fa-github"></i> Code
      </a>
    </div>
  </body>
</html>
